.marker {
  background-image: url('https://www.mapbox.com/help/demos/custom-markers-gl-js/mapbox-icon.png');
  background-size: cover;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  cursor: pointer;
}
