#popup{
  display: flex;
  flex-direction: column;
}

.mapboxgl-popup-content{
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.5rem;
  radius: 10px;
  color: black;
}

.popup-image {
  padding-top: 2px;
  height: 10vh;
  width: auto;
  text-align: center;
  radius: 10px;
}

.place-name{
  padding-top: 1vh;
  padding-bottom: 1vh;
}

a:hover{
  font-weight: 400;
  color: gray;
  text-decoration: none;
}

a{
  text-decoration: none;
  color: black;
}
